// all news section

.all_news
    --news-padding: 40px

    .select_block
        position: relative
        width: 311px
        &::after
            content: ""
            background-image: url(../assets/images/select_arrow.svg)
            position: absolute
            right: 30px
            top: 32px
            transform: translatey(-50%)
            width: 14px
            height: 7px
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            z-index: -1
            +max-screen($breakpoint-xl)
                top: 26px
            +max-screen($breakpoint-md)
                right: 8px
                top: 17px
    .btn_block
        display: flex
        justify-content: space-between
        p
            align-self: center
            font-size: 20px
            margin-right: 40px
        select
            -webkit-appearance: none
            -moz-appearance: none
            appearance: none
            background-image: url(...)
            cursor: pointer
            font-family: Archivo,sans-serif
            background: transparent
            border: 1px solid #color-blue
            border-radius: 69px
            font-size: 20px
            font-weight: 400
            padding: 17px 30px 17px 30px
            height: 62px
            width: 100%
            color: rgba(8,64,116,.6)
            -webkit-transition: .3s
            transition: .3s
            +max-screen($breakpoint-xl)
                padding: 13px 24px !important
                height: 52px
                // border: 0
                border-radius: 69px
                font-size: 16px
                font-weight: 400
                +max-screen($breakpoint-md)
                    padding-left: 10px !important
                    padding-right: 0 !important
                    padding-top: 0 !important
                    padding-bottom: 0 !important
                    height: 36px
    .news_list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 30px
    .news_block
        position: relative
        padding: var(--news-padding)
        height: auto
        min-height: 334px
        width: 100%
        background: #FFFFFF
        border-radius: 60px
        overflow: hidden
        a
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            z-index: 1
    .img_block
        position: absolute
        left: 0
        top: 0
        width: 100%
        max-height: 246px
        img
            border-radius: 60px
            object-fit: contain
            max-height: 246px
            display: block
            margin: 0 auto
    .img_block ~ .inner_block
        margin-top: calc( 266px - var(--news-padding) )
        .title_block
            height: 108px
            margin-bottom: 20px
    .date_block
        margin-bottom: 20px
        span
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 140%
    .title_block
        height: 80px
        margin-bottom: 40px
        position: relative
        display: inline-block
        word-wrap: break-word
        overflow: hidden

        h3
            font-family: $font-family-base
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 140%

    .except_block
        height: 88px
        overflow: hidden
    .arhive-posts
        .content-block
            h3
                text-align: center
                margin-top: 100px
+max-screen($breakpoint-1500)
    .all_news
        .img_block ~ .inner_block
            margin-top: calc( 236px - var(--news-padding) )
            .title_block
                height: 80px
        .img_block
            max-height: 216px
            img
                max-height: 216px

        .title_block
            height: 60px
            h3
                font-size: 20px
+max-screen($breakpoint-1200)
    .all_news
        .news_list
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 30px
        .img_block ~ .inner_block
            margin-top: calc( 266px - var(--news-padding) )
        .news_block
            margin: 0 auto
        .img_block
            max-height: 246px
            img
                object-fit: cover
                max-height: 246px

+max-screen($breakpoint-lg)
    .all_news
        .img_block ~ .inner_block
            margin-top: calc( 246px - var(--news-padding) )
+max-screen(900px)
    .all_news
    --news-padding: 30px
+max-screen(850px)
    .all_news
        .img_block ~ .inner_block
            margin-top: calc( 216px - var(--news-padding) )
+max-screen($breakpoint-md)
    .all_news
        .title_wrapper
            .title
                display: flex
                h2
                    align-self: center

        .btn_block
            display: flex
            justify-content: space-between
            flex-direction: column
            p
                align-self: center
                font-size: 20px
                margin-right: 0
                margin-bottom: 20px
                text-align: right
                margin-left: auto
            .select_block
                width: 211px
        .img_block ~ .inner_block
            margin-top: calc( 196px - var(--news-padding) )
+max-screen(700px)
    .all_news
        .news_list
            display: grid
            grid-template-columns: repeat(1, 1fr)
            gap: 30px
        .img_block ~ .inner_block
            margin-top: calc( 256px - var(--news-padding) )
+max-screen($breakpoint-sm)
    .all_news
        .btn_block
            display: flex
            justify-content: space-between
            flex-direction: row
            width: 100%
            p
                margin-right: auto
                margin-bottom: 0
                text-align: left
                margin-left: 0
+max-screen(485px)
    .all_news
        .btn_block
            flex-direction: column
            p
                margin-right: auto
                margin-left: auto
                margin-bottom: 20px
            .select_block
                margin: 0 auto
        .img_block ~ .inner_block
            margin-top: calc( 100vw / 2.4 )
