// first_section

.first_section
    .section-bg
        background-color: $color-blue

    .title_wrapper
        &::after
            background-color: #fff

    .text_block
        color: white
        width: 100%
        max-width: 678px
        padding-top: 188px

    .block_wrapper
        margin-top: 80px
    .subtitle
        p
            font-size: 22px
