//text section

.text_section
    .main_block
        max-width: 950px
        margin: 0 auto
    h2,.h2
        font-size: 40px
        line-height: 140%
        font-weight: 700
        font-family: $font-family-base
        +max-screen($breakpoint-xl)
            font-size: 35px
        +max-screen($breakpoint-lg)
            font-size: 30px
        +max-screen($breakpoint-md)
            font-size: 22px

    h3,.h3
        font-size: 26px
        font-weight: 700
        line-height: 140%
        font-family: $font-family-base
        +max-screen($breakpoint-xl)
            font-size: 22px
        +max-screen($breakpoint-lg)
            font-size: 18px
        +max-screen($breakpoint-md)
            font-size: 16px

    h4,.h4
        font-size: 22px
        font-weight: 700
        line-height: 140%
        font-family: $font-family-base
        +max-screen($breakpoint-xl)
            font-size: 20px
        +max-screen($breakpoint-lg)
            font-size: 18px
        +max-screen($breakpoint-md)
            font-size: 14px

    .h5,h5
        font-size: 20px
        font-weight: 700
        line-height: 140%
        font-family: $font-family-base
        +max-screen($breakpoint-xl)
            font-size: 18px
        +max-screen($breakpoint-lg)
            font-size: 16px
        +max-screen($breakpoint-md)
            font-size: 12px

    h6,.h6
        font-size: 14px
        font-family: $font-family-base
        +max-screen($breakpoint-md)
            font-size: 10px
    .content_wrapper
        margin-top: 60px
+max-screen($breakpoint-md)
    .text_section
        .content_wrapper
            margin-top: 40px
