.two_white_col
    .main_block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: -40px
        +max-screen($breakpoint-xxl)
            margin-bottom: -30px

    .col
        width: 100%
        max-width: 705px
        padding: 40px
        padding-bottom: 60px
        background: #FFFFFF
        border-radius: 60px
        margin-bottom: 40px
        &:nth-of-type(2n - 1)
            margin-right: 30px

        h4,.h4
            font-family: $font-family-base
            font-size: 26px
            margin-bottom: 40px
            font-weight: 700
        p
            margin-bottom: 30px
            &:last-of-type
                margin-bottom: 0
        &:last-of-type
            margin-right: 0

+max-screen($breakpoint-1920)

+max-screen($breakpoint-xxl)
    .two_white_col
        .col
            width: 100%
            max-width: 48%
            min-height: 540px
            padding: 40px
            background: #FFFFFF
            border-radius: 60px
            margin-bottom: 30px
            &:nth-of-type(2n - 1)
                margin-right: 30px
+max-screen($breakpoint-1500)

+max-screen($breakpoint-xl)

+max-screen($breakpoint-1200)

+max-screen(1100px)
    .two_white_col
        .col
            h4,.h4
                font-family: $font-family-base
                font-size: 20px
                margin-bottom: 30px
                font-weight: 700
            p
                margin-bottom: 30px
                &:last-of-type
                    margin-bottom: 0
            &:last-of-type
                // margin-right: 0
+max-screen(1025px)
    .two_white_col
        .main_block
            // flex-direction: column
        .col
            // margin: 0 auto 30px
            min-height: 440px
            &:last-of-type
                // margin: 0 auto 0
            &:nth-of-type(2n - 1)
                // margin-right: auto
+max-screen($breakpoint-lg)
    .two_white_col
        .main_block
            flex-direction: column
            .col
                width: 100%
                max-width: 80%
                margin: 0 auto 30px
                min-height: 440px
                &:nth-of-type(2n - 1)
                    margin-right: auto
+max-screen($breakpoint-md)

+max-screen($breakpoint-sm)
    .two_white_col
        .main_block
            flex-direction: column
            .col
                width: 100%
                max-width: 100%
