// two_col_text_section

.two_col_text

    .content_wrapper
        margin-bottom: 60px
        display: flex
        justify-content: space-between
    .col
        width: 100%
        max-width: 705px
    .text--size
        &--26
            font-size: 26px
            +max-screen($breakpoint-1500)
                font-size: 20px
            +max-screen(375px)
                font-size: 18px

+max-screen($breakpoint-1920)

+max-screen($breakpoint-xxl)
    .two_col_text
        .col
            width: 100%
            max-width: 650px
+max-screen($breakpoint-1500)
    .two_col_text
        .col
            width: 100%
            max-width: 48%
        .content_wrapper
            margin-bottom: 40px
+max-screen($breakpoint-xl)

+max-screen($breakpoint-1200)

+max-screen(1100px)

+max-screen(1025px)

+max-screen($breakpoint-lg)

+max-screen(768px)
    .two_col_text
        margin-bottom: 0
        padding-bottom: 0
        .content_wrapper
            display: block
        .col
            width: 100%
            max-width: none
            margin-bottom: 10px

+max-screen($breakpoint-md)

+max-screen($breakpoint-sm)
